<!DOCTYPE html>
<html data-wf-domain="biblioteca-6acf80.webflow.io" data-wf-page="65365511e38c758ed167644a" data-wf-site="65365511e38c758ed1676401" lang="es" xml:lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Gestion de obras del catálogo</title>
    <html xmlns:th="http://www.thymeleaf.org">
      <link href="css/biblioteca-6acf80.webflow.7c7b1dc28.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript">
        WebFont.load({
          google: {
            families: ["Archivo:100,200,300,regular,500,600,700,800,900", "Inter:200,300,regular,500,600,700,800"]
          }
        });
      </script>
      <link href="img/65365511e38c758ed16764bc_Favicon.svg" rel="shortcut icon" type="image/x-icon" />
      <link href="img/65365511e38c758ed16764bd_Webclip.svg" rel="apple-touch-icon" />
      <style>
        * {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .margin-bottom-16 {
          margin-bottom: 8px;
        }

        h2 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .button-primary-right-icon {
          margin-bottom: 50px;
          text-align: center;
        }

        .title-wrap-center-large {
          margin-bottom: 0px;
        }

        .boton-guardar-cambios {
          margin-top: 20px;
        }

        .container-navigation {
          margin-bottom: 10px;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          table-layout: auto;
          margin-bottom: 60px;
        }

        input {
          width: 100%;
          box-sizing: border-box;
        }

        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }

        th {
          background-color: #443fde;
          color: white;
        }

        input {
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      </style>
  </head>
  </head>
  <body>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="container-navigation">
        <div class="navigation-left">
          <a href="/inicio" class="brand w-nav-brand">
            <img src="img/65367f8a8d37ee8bd2045ee4_logo.png" loading="lazy" width="169" sizes="(max-width: 479px) 43vw, 169px" alt="" srcset="img/65367f8a8d37ee8bd2045ee4_logo-p-500.png 500w, img/65367f8a8d37ee8bd2045ee4_logo-p-800.png 800w, img/65367f8a8d37ee8bd2045ee4_logo-p-1080.png 1080w, img/65367f8a8d37ee8bd2045ee4_logo-p-1600.png 1600w, img/65367f8a8d37ee8bd2045ee4_logo.png 1832w" class="logo" />
          </a>
        </div>
        <div class="navigation-middle">
          <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="navbar-mobile-button-wrapper">
              <a href="#" class="button-primary w-button">Login</a>
            </div>
          </nav>
        </div>
        <div class="navigation-right">
          <div class="navigation-button-wrap">
            <button class="button-primary" data-wf-user-logout="Cerrar sesión" data-wf-user-login="Iniciar sesión" type="button">Cerrar sesión</button>
          </div>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="browse-header-section">
      <div style="-webkit-transform:translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 44px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1" class="container-x-small">
        <div class="title-wrap-center-large">
          <div class="margin-bottom-16">
            <h2>Gestionar obras del catálogo <span class="text-color-primary"></span>
            </h2>
          </div>
        </div>
        <div class="w-layout-grid"></div>
        <div class="w-layout-grid grid">
          <a id="w-node-_454d0c08-5123-3eed-1e40-3851377dd90b-d167644a" href="/publicarObra" class="button-primary-right-icon w-inline-block">
            <div>Añadir obras</div>
            <div class="icon-regular w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              </svg>
            </div>
          </a>
          <a href="#" class="button-primary-right-icon w-inline-block">
            <div>Editar obras</div>
            <div class="icon-regular w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              </svg>
            </div>
          </a>
          <a id="w-node-_6450deab-05ad-10ea-b710-85522e08d930-d167644a" href="#" class="button-primary-right-icon w-inline-block">
            <div>Eliminar obras</div>
            <div class="icon-regular w-embed">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              </svg>
            </div>
          </a>
        </div>
      </div>
      <form id="obrasForm" th:object="${obra}" th:action="@{/actualizarObras}" method="post">
        <table id="tabla">
          <tr>
            <th onclick="sortTable(0)">Título</th>
            <th onclick="sortTable(1)">Fecha de publicación</th>
            <th onclick="sortTable(2)">Número de páginas</th>
            <th onclick="sortTable(3)">Editorial</th>
            <th onclick="sortTable(4)">Edicion</th>
            <th onclick="sortTable(5)">Género</th>
            <th onclick="sortTable(6)">ISBN</th>
            <th onclick="sortTable(7)">Encuadernacion</th>
            <th onclick="sortTable(8)">ISSN</th>
            <th onclick="sortTable(9)">Editor</th>
            <th onclick="sortTable(10)">Tipo</th>
            <th onclick="sortTable(11)">Periodicidad</th>
          </tr>
          <tr th:each="obra : ${obras}">
            <td>
              <input type="text" th:value="${obra.titulo}" name="titulo" />
            </td>
            <td>
              <input type="date" th:value="${#dates.format(obra.fechaPublicacion, 'yyyy-MM-dd')}" name="fechaPublicacion" />
						</td>
						<td>
							<input type="number" th:value="${obra.nroPaginas}" name="nroPaginas" />
						</td>
						<td>
							<input type="text" th:value="${obra.esLibro ? obra.editorial : '-'}" name="editorial" />
						</td>
						<td>
							<input type="text" th:value="${obra.esLibro ? obra.edicion : '-'}" name="edicion" />
						</td>
						<td>
							<input type="text" th:value="${obra.esLibro ? obra.genero : '-'}" name="genero" />
						</td>
						<td>
							<input type="text" th:value="${obra.esLibro ? obra.Isbn : '-'}" name="isbn" />
						</td>
						<td>
							<input type="text" th:value="${obra.esLibro ? obra.encuadernacion : '-'}" name="encuadernacion" />
						</td>
						<td>
							<input type="text" th:value="${!obra.esLibro ? obra.Issn : '-'}" name="issn" />
						</td>
						<td>
							<input type="text" th:value="${!obra.esLibro ? obra.editor : '-'}" name="editor" />
						</td>
						<td>
							<input type="text" th:value="${!obra.esLibro ? obra.tipo : '-'}" name="tipo" />
						</td>
						<td>
							<input type="text" th:value="${!obra.esLibro ? obra.periodicidad : '-'}" name="periodicidad" />
							<input type="hidden" th:value="${obra.esLibro}" name="esLibro" />
						</td>
						<td>
							<input type="checkbox" th:value="${obra.Id}" th:name="id" />
						</td>
					</tr>
				</table>
			</form>
		</div>
		<script>
window.onload = function() {
  // 'Borrar obras' 버튼
    var buttons = document.querySelectorAll('.button-primary-right-icon');

  buttons[2].addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('obrasForm').action = "/borrarObras";
    document.getElementById('obrasForm').submit();
  });

    buttons[1].addEventListener('click', function(e) {
    e.preventDefault();
    
    var tableRows = document.querySelectorAll('#obrasForm table tr');
    var obras = [];
    
    for (var i = 1; i < tableRows.length; i++) {
      var obra = {};
      var inputs = tableRows[i].querySelectorAll('input');
      
      for (var j = 0; j < inputs.length; j++) {
        obra[inputs[j].name] = inputs[j].value;
      }
      
      obras.push(obra);
    }
    
    fetch('/actualizarObras', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(obras),
    }).then(function(response) {
      return response.json();
    }).then(function(data) {
      console.log('Success:', data);
    }).catch(function(error) {
      console.error('Error:', error);
    });
  });
}
  document.addEventListener('DOMContentLoaded', (event) => {
    let logoutButton = document.querySelector('.button-primary[data-wf-user-logout="Cerrar sesión"]');
    if (logoutButton) {
      logoutButton.addEventListener('click', () => {
        window.location.href = '/login';
      });
    }
  });

      function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("tabla");
      switching = true;
      dir = "asc"; 

      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;      
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
		</script>
	</body>
</html>